@model vintage_garage_web.Models.VehicleViewModel

@{
    ViewData["Title"] = Model != null ? Model.Action:"Create";
}

<link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css"/>
<script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>

<h1>@ViewData["Tittle"]</h1>

<div class="row">
    <div class="col-md-6 offset-3">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }
     
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action=@ViewData["Title"]>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group">
                        <label asp-for="name" class="control-label fw-bold"></label>
                        <input asp-for="name" class="form-control" />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label fw-bold"></label>
                        <input asp-for="description" class="form-control" />
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="typeCode" class="control-label fw-bold"></label>
                        <select asp-for="typeCode" class="form-control form-select" asp-items="(SelectList)@ViewData["vehicleType"]">                            
                        </select>
                        <span asp-validation-for="typeCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="yearOfManufacture" class="control-label fw-bold"></label>
                        <input asp-for="yearOfManufacture" class="form-control" />
                        <span asp-validation-for="yearOfManufacture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(Model => Model.SelectedCategory
                        , ViewBag.ItemsBag as MultiSelectList,
                        new {
                            @class="form-control", @multiple=true
                        })
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary float-left" />
                        </div>
                        <a class="btn btn-outline-secondary float-left" asp-action="Index">
                            <i class="bi bi-slash-circle"></i> Cancel
                        </a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $(".category-chosen").chosen();
        });
        

    </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
}
