@model IEnumerable<vintage_garage_web.Models.VehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a class="btn btn-outline-primary float-right" asp-action="Create">
        <i class="bi bi-plus-lg"></i> Add New Vehicle
    </a>
</p>
<div class="row">
@foreach (var item in Model) {
    <div class="col-md-4 col-xs-6 border-primary mb-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @item.name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src=@item.imageUrl width="100%" alt="@item.name">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">@item.description</p>
                        <p class="card-text"><b>Name: </b>@item.name</p>
                        <p class="card-text"><b>Type: </b>@item.typeName</p>
                        <p class="card-text"><b>Manufactured: </b>@item.yearOfManufacture</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Edit" asp-route-id="@item.id">
                                <i class="bi bi-eye-fill"></i> Edit
                            </a>
                                <a class="btn btn-outline-danger float-right" asp-action="Delete" asp-route-id="@item.id">
                                    <i class="bi x-circle-fill"></i> Delete
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>